.container {
    width: 400px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
    background-color: #bdbcbc;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
#tablaPacientes{
  width: auto;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
    background-color: #bdbcbc;
    border: 1px solid #ccc;
    border-radius: 5px;

}
label{
  text-align: left;

}

.contenido-formulario{
  padding: 25px;
 
}
.container input{
    text-align: center;
    background-color: #f5f5f5;
    color: black;
    width: 40%;
    }  
body{
    background-color: bisque!important;
    height: 100vh;
  }
    