
extends ../layout/plantilla

block contenido
    div(class="container text-center")
        div(class="row")
            div(class="col" style="background-color: blue;")
                h1 primer fila, primer columna

            div(class="col" style="background-color: aqua;")
                h1 primer fila, segunda columna
           
        div(class="row")
            div(class="col" style="background-color: red;")
                h1 segunda fila, primer columna
            div(class="col" style="background-color: yellow;")
                h1 segunda fila, segunda columna
            div(class="col" style="background-color: green;")
                h1 segunda fila, tercera columna
    div(class="container-fluid text-center" style="background-color: blue;")
        h1 contenedor fluido
            
        
    
