extends ../layout/plantilla

block contenido 
    
    div.container
        p Buscar
         div    
            if persona != null
                h1= persona.nombre
        
                
       
            
            form( method="post", name="formPrueba")
                h1= nombre
                br
                br 
                label(for="apellido")
                input(type='text/plain', id ="apellido", name='apellido')
                br
                br 
                label(for='dni') Ingrese Dni:
                input(type='text/plain', id ="dni", name='dni')
                br
                br 
                button(type="submit") buscar
                
    script(src="")
    