extends ../layout/plantilla

block contenido 
    div.container
        p Filtros de Busqueda
        form( method="get", id="formIndex")
            label(for='dni') Ingrese Dni:
            input(type='text/plain', id ="dni", name='dni')
            br
            br 
            button(type="submit")  Buscar