extends ../layout/plantilla

block contenido 
    div.container
        p Filtros de Busqueda
        form(action="/buscar/", method="get", id="formIndex")
            label(for='filtroDni') Ingrese Dni:
            input(type='search', id='dni', name='dni', placeholder='Ingrese Dni')
            br
            br 
            button(type='submit', id="btBuscar") Buscar