//- Modal
.modal.fade#myModal(tabindex='-1', role='dialog')
  .modal-dialog(role='document', class='modal-dialog-centered', class='modal-xl')
    .modal-content()
      .modal-header
        h5.modal-title Formulario de Registro
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body()
        link(rel='stylesheet', type='text/css', href='../css/personaFormulario.css') 
        form(class="form" method="post", name= 'formulario' id="formulario" action="personal/crearSecretaria")
            h2 Formulario Secretaria
            main    
                    .row
                        .col
                            //---------------- Grupo: Nombre ---------------
                            div(class="formulario__grupo" id="grupo__nombre") 
                                label(for='nombre' class="formulario__label") Nombre:
                                div(class="formulario__grupo-input")
                                    input(type='text',class="formulario__input" id='nombre', name='nombre',placeholder="Juan Jose")
                                    i(class="formulario__validacion-estado fa-solid fa-circle-xmark")
                                p(class="formulario__input-error") * El nombre debe tener solo letras y no debe estar vacio.
                            br
                        .col
                            //---------------- Grupo: Apellido ----------------
                            div(class="formulario__grupo" id="grupo__apellido") 
                                label(for='apellido' class="formulario__label") Apellido:
                                div(class="formulario__grupo-input")
                                    input(type='text',class="formulario__input" id='apellido', name='apellido',placeholder="Rodriguez")
                                    i(class="formulario__validacion-estado fa-solid fa-circle-xmark")
                                p(class="formulario__input-error") * El apellido no debe estar vacio ni contener caracteres especiales.
                            br
                    .row
                        .col    
                            //---------------- Grupo: DNI ----------------
                            div(class=" formulario__grupo" id="grupo__dni") 
                                label(for='dni' class="formulario__label") DNI:
                                div(class="formulario__grupo-input")
                                    input(type='text',class="formulario__input" name='dni',placeholder="37256988" id='dni')
                                    i(class="formulario__validacion-estado fa-solid fa-circle-xmark")
                                p(class="formulario__input-error") * El dni deben ser numeros (max. de 8) sin puntos ni caracteres especiales.
                                p(class="formulario__input-error-2") * El dni ya esta registrado!!
                            br
                        .col
                            //---------------- Grupo: Telefono ----------------
                            div(class="formulario__grupo" id="grupo__telefono") 
                                label(for='telefono' class="formulario__label") Telefono:
                                div(class="formulario__grupo-input")
                                    input(type='text',class="formulario__input" id='telefono', name='telefono',placeholder="ingrese un numero sin 0 ni 15")
                                    i(class="formulario__validacion-estado fa-solid fa-circle-xmark")
                                p(class="formulario__input-error") * El telefono debe ser sin 0 ni 15 y/o caracteres especiales.
                            br
                    .row
                        .col
                            //---------------- Grupo: E-mail ----------------
                            div(class="formulario__grupo " id="grupo__email") 
                                label(for='email' class="formulario__label") E-mail:
                                div(class="formulario__grupo-input")
                                    input(type='email',class="formulario__input" id='email', name='email',placeholder="example.example_@hotmail.com")
                                    i(class="formulario__validacion-estado fa-solid fa-circle-xmark")
                                p(class="formulario__input-error") * El correo solo puede contener letras, numeros, puntos y guion bajo.  
                            br
                        .col
                            //---------------- Grupo: Sexo ----------------
                            div(class="formulario__grupo" id="grupo__sexo") 
                                label(for='sexo' class="formulario__label") Sexo:
                                div(class="formulario__grupo-input")
                                    select(form='formulario',class="formulario__input" name="sexo" id='sexo')
                                        option(value="Masculino") Masculino
                                        option(value="Femenino")  Femenino  
                            br
                    .row
                        .col
                            //---------------- Grupo: Fecha de Nacimiento ----------------
                            div(class="formulario__grupo" id="grupo__fechaNacimiento")
                                label(for='fechaNacimiento' class="formulario__label") Fecha de Nacimiento:
                                input(type='date', class="formulario__input" form="formulario",  id='fechaNacimiento', name='fechaNacimiento', required)
                                p(class="formulario__input-error") * La fecha no es Valida.
                            br
                        .col
                            //---------------- Grupo: Domicilio ----------------
                            div(class="formulario__grupo" id="grupo__domicilio") 
                                label(for='domicilio' class="formulario__label") Domicilio:
                                div(class="formulario__grupo-input")
                                    input(type='text',class="formulario__input" id='domicilio', name='domicilio')
                                    i(class="formulario__validacion-estado fa-solid fa-circle-xmark")
                                p(class="formulario__input-error") * No se permiten caracteres especiales.
                            br
                    .row
                        .col
                            //---------------- Grupo: Titulo ---------------
                            div(class="formulario__grupo" id="grupo__titulo")
                                label(for='titulo' class="formulario__label") Titulo:
                                div(class="formulario__grupo-input")
                                    input(type='text',class="formulario__input" id='titulo', name='titulo')
                                    i(class="formulario__validacion-estado fa-solid fa-circle-xmark")
                                p(class="formulario__input-error") * El titulo debe tener solo letras y no debe estar vacio.
                            br
                        
                        .col
                            //---------------- Grupo: Fecha de Ingreso ----------------
                            div(class="formulario__grupo" id="grupo__fechaIngreso")
                                label(for='fechaIngreso' class="formulario__label") Fecha de Ingreso:
                                input(type='date', class="formulario__input" form="formulario",  id='fechaIngreso', name='fechaIngreso', required)
                                p(class="formulario__input-error") * La fecha no es Valida.
                            br
                        
                    .row
                        .col
                            //---------------- Grupo: Localidad ----------------
                            div(class="formulario__grupo" id="formulario__localidad")
                                label(for="selectorLocalidad" class="formulario__label") Localidad:
                                div(class= "formulario__grupo-input")
                                    select(form = "formulario" class="formulario__input" name = "localidad", id="selectorLocalidad", required)
                                        option(value="Ayacucho") Ayacucho
                                        option(value="Belgrano") Belgrano 
                                        option(value="Chacabuco") Chacabuco  
                                        option(value="Pringles") Pringles  
                                        option(value="Pedernera") Pedernera
                                        option(value="Dupuy") Dupuy  
                                        option(value="Pueyrredon") Pueyrredon  
                                        option(value="Junin") Junin  
                                        option(value="San Martin") San Martin  
                                        option(value="Capital") Capital  
                            br
                        .col
                            //---------------- Grupo: Provincia ----------------
                            div(class="formulario__grupo" id="formulario__provincia")
                                label(for="selectorProvincia" class="formulario__label") Provincia:
                                div(class="formulario__grupo-input")
                                    select(form = "formulario",class="formulario__input" name="provincia" id="selectorProvincia", required)
                                        option(value="Buenos Aires") Buenos Aires
                                        option(value="Catamarca") Catamarca   
                                        option(value="Chaco") Chaco   
                                        option(value="Chubut") Chubut   
                                        option(value="Cordoba") Cordoba   
                                        option(value="Corrientes") Corrientes   
                                        option(value="Entre Rios") Entre Rios
                                        option(value="San Luis") San Luis
                                        option(value="Mendoza") Mendoza   
                            br
                    .row
                        .col
                            //---------------- Grupo: Obra Social ----------------
                            div(class="formulario__grupo" id="grupo__obraSocial") 
                                label(for='obraSocial' class="formulario__label") Obra Social:
                                div(class="formulario__grupo-input")
                                    input(type='text',class="formulario__input" id='obraSocial', name='obraSocial')
                                    i(class="formulario__validacion-estado fa-solid fa-circle-xmark")
                                p(class="formulario__input-error") * Debe ingresar una Obra Social.
                            br
                        
                        .col
                            //---------------- Grupo: Numero de Afiliado ----------------
                            div(class="formulario__grupo" id="grupo__numeroAfiliado") 
                                label(for='numeroAfiliado' class="formulario__label") Numero de Afiliado:
                                div(class="formulario__grupo-input")
                                    input(type='text',class="formulario__input" id='numeroAfiliado', name='numeroAfiliado')
                                    i(class="formulario__validacion-estado fa-solid fa-circle-xmark")
                                p(class="formulario__input-error") * El Nro de Afiliado no debe estar vacio ejemplo: 123-12345678-01.
                            br
                    .row
                        .col
                            //---------------- Grupo: Contraseña ----------------
                            div(class="formulario__grupo" id="grupo__password" ) 
                                label(for='password' class="formulario__label") Contraseña:
                                div(class="formulario__grupo-input")
                                    input(type='password',class="formulario__input" id='password', name='password')
                                    i(class="formulario__validacion-estado fa-solid fa-circle-xmark")
                                p(class="formulario__input-error") * La contraseña debe tener al menos 6 caracteres max 16.       
                            br
                            
                        .col
                            //---------------- Grupo: repetir contraseña ----------------
                            div(class="formulario__grupo" id="grupo__password2" ) 
                                label(for='password' class="formulario__label") Repetir Contraseña:
                                div(class="formulario__grupo-input")
                                    input(type='password',class="formulario__input" id='password2', name='password2')
                                    i(class="formulario__validacion-estado fa-solid fa-circle-xmark")
                                p(class="formulario__input-error") * La contraseña debe tener al menos 6 caracteres max 16.
                                p(class="formulario__input-error-2") * Las contraseñas deben ser iguales.
                            br
                
                    button(type='submit' id='guardar'  class="formulario_btn-enviar") Guardar
                        p(class="formulario__mensaje-exito" id="formulario__mensaje-exito") Paciente guardado con exito!
                    br
    
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    script(src="https://kit.fontawesome.com/7aad8207b8.js"  crossorigin="anonymous")
    script(src="../js/validacionPacientes.js")
    script(src="../js/script.js")
    