extends ../layout/plantilla 

block contenido 
    link(rel='stylesheet', type='text/css', href='../css/personaFormulario.css')
    div.container 
    
        form(action="/examen", method="post", id="cargaExamenForm")
            label(for='muestraId') Id Muestra:
            br
            input(type='number', id='muestraId', name='muestraId', placeholder='Ingrese Id de Muestra', required)
            br
            br
            label(for='nombre') Nombre de examen: 
            br
            input(type='text', id='nombre', name='nombre', placeholder='Ingrese Nombre examen', required)
            br
            br
            label(for='fechaEntregaResultado') Fecha entrega resultados:
            br
            input(type='date', id='fechaEntregaResultado', name='fechaEntregaResultado', placeholder='Seleccione Fecha entrega resultados ', required)
            br
            br
            button(type='submit', id="btGuardarExamen") Guardar Examen
            br
            br
            a(href="/examen/buscar") Buscar un Examen
            br
            br