extends ../layout/plantilla 

block contenido 
    link(rel='stylesheet', type='text/css', href='css/personaFormulario.css') 
    div.container
        
        form(action="/persona", method="post", id="formulario")
            label(for='nombre') Nombre:
            input(type='text', id='nombre', name='nombre', placeholder='Ingrese Nombre', required)
            
            br
            label(for='apellido') Apellido:
            input(type='text', id='apellido', name='apellido', placeholder='Ingrese Apellido', required)
            
            br
            label(for="dni") DNI:
            input(type='text', id='dni', name='dni', placeholder='Ingrese DNI', required)
            
            br
            label(for='email') Mail:
            input(type='email', id='email', name='email', placeholder='Ingrese mail', required)
            
            br
            label(for='selectorSexo', style="display: block") Sexo:
            select(form = "formulario", name="sexo", id="selectorSexo", required)
                option(value="Masculino") Masculino
                option(value="Femenino")  Femenino
            
            br
            label(for='fechaNacimiento') Fecha de Nacimiento:
            input(type='date', form="formulario",  id='fechaNacimiento', name='fechaNacimiento', required)
            
            br
            label(for='domicilio') Domicilio:
            input(type='text', id='domicilio', name='domicilio', placeholder='Ingrese Domicilio', required)
            
            br
            div
               div(class="row")
                    div(class="col")
                        label(for="selectorProvincia", style="display: block") Provincia:
                        select(form = "formulario", name="provincia" id="selectorProvincia", required)
                            option(value="San Luis") San Luis
                            option(value="Mendoza") Mendoza
                            option(value="Cordoba") Cordoba   
                        br
                    div(class="col")
                        label(for="selectorLocalidad", style="display: block") Localidad:
                        select(form = "formulario", name = "localidad", id="selectorLocalidad", required)
                            option(value="San Luis") San Luis
                            option(value="La Toma") La Toma  
                        br
            label(for='obraSocial') Obra social:
            input(type='obraSocial', id='obraSocial', name='obraSocial', placeholder='Ingrese Obra Social', required)
            
            br
            label(for='numeroAfiliado') Numero de Afiliado:
            input(type='numeroAfiliado', id='numeroAfiliado', name='numeroAfiliado', placeholder='Ingrese Numero de Afiliado', required)
            
            br
            label(for='user') Nombre de usuario:
            input(type='text', id='user', name='user', placeholder='Ingrese  Usuario', required)
            
            br
            label(for='password') Contraseña:
            input(type='password', id='password', name='password', placeholder='Ingrese Contraseña', required)
            
            br
            select(id="selectorTipoPersona", required)
                option(value="Paciente") Paciente
                option(value="Tecnico") Tecnico 
                option(value="Bioquimico") Bioquimico
                option(value="Secretaria") Secretaria    
            
            button(type='submit', id="btGuardar") Guardar
            br
            br
    script(src="")
        
    